<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<ul class="list-unstyled">
					<li><a href=""><strong>Learn about CBM</strong></a></li>
					<li><a href="">What is CBM?</a></li>
					<li><a href="">Frequently Asked Questions</a></li>
					<li><a href="">Norms & Standards</a></li>
					<li><a href="">Batho Pele Principles</a></li>
				</ul>
					
			</div>
			<div class="col-md-3">

				<ul class="list-unstyled">
					<li><a href=""><strong>Sites</strong></a></li>
					<li><a href=""><strong>Community Partners</strong></a></li>
					<li><a href=""><strong>Sectors</strong></a></li>
				</ul>

			</div>
			<div class="col-md-3">

				<ul class="list-unstyled">
					<li><a href=""><strong>Contact</strong></a></li>
					<li><a href=""><strong>Help</strong></a></li>
					<li><a href=""><strong>Legal</strong></a></li>
				</ul>

			</div>
			<div class="col-md-3">
				
				<a href="http://www.blacksash.org.za" target="_blank"><img src="img/black-sash-logo.png" class="img-responsive" alt="Black Sash"></a>

			</div>
		</div>
	</div>
</footer>